In [1]:
import pandas as pd
import numpy as np

In [2]:
train_data = pd.read_csv('train.csv')

In [3]:
train_data.shape

(23524, 13)

In [4]:
columns = train_data.columns

In [5]:
train_data.head(5)

,country,year,uniqueid,bank_account,location_type,cellphone_access,household_size,age_of_respondent,gender_of_respondent,relationship_with_head,marital_status,education_level,job_type
0,Kenya,2018,uniqueid_1,Yes,Rural,Yes,3,24,Female,Spouse,Married/Living together,Secondary education,Self employed
1,Kenya,2018,uniqueid_2,No,Rural,No,5,70,Female,Head of Household,Widowed,No formal education,Government Dependent
2,Kenya,2018,uniqueid_3,Yes,Urban,Yes,5,26,Male,Other relative,Single/Never Married,Vocational/Specialised training,Self employed
3,Kenya,2018,uniqueid_4,No,Rural,Yes,5,34,Female,Head of Household,Married/Living together,Primary education,Formally employed Private
4,Kenya,2018,uniqueid_5,No,Urban,No,8,26,Male,Child,Single/Never Married,Primary education,Informally employed

In [38]:
train_data.groupby('bank_account').nunique()

,uniqueid,country,year,location_type,cellphone_access,household_size,age_of_respondent,gender_of_respondent,relationship_with_head,marital_status,education_level,job_type,bank_account
bank_account,,,,,,,,,,,,,
No,8476,4,3,2,2,19,85,2,6,5,6,10,1
Yes,2859,4,3,2,2,16,77,2,6,5,6,10,1

In [6]:
for i in columns:
    exec("print( - len(train_data.%s.unique()))"%i)

-4
-3
-8735
-2
-2
-2
-20
-85
-2
-6
-5
-6
-10

In [7]:
columns

Index(['country', 'year', 'uniqueid', 'bank_account', 'location_type',
       'cellphone_access', 'household_size', 'age_of_respondent',
       'gender_of_respondent', 'relationship_with_head', 'marital_status',
       'education_level', 'job_type'],
      dtype='object')

In [8]:
# countinuous - household_size, age_of_respondent
columns_new = ['uniqueid', 'country', 'year', 'location_type',
       'cellphone_access', 'household_size', 'age_of_respondent',
       'gender_of_respondent', 'relationship_with_head', 'marital_status',
       'education_level', 'job_type', 'bank_account']

In [9]:
train_data = train_data[columns_new]

In [10]:
for i in columns_new:
    exec("print( - len(train_data.%s.unique()))"%i)

-8735
-4
-3
-2
-2
-20
-85
-2
-6
-5
-6
-10
-2

In [11]:
train_data.head()

,uniqueid,country,year,location_type,cellphone_access,household_size,age_of_respondent,gender_of_respondent,relationship_with_head,marital_status,education_level,job_type,bank_account
0,uniqueid_1,Kenya,2018,Rural,Yes,3,24,Female,Spouse,Married/Living together,Secondary education,Self employed,Yes
1,uniqueid_2,Kenya,2018,Rural,No,5,70,Female,Head of Household,Widowed,No formal education,Government Dependent,No
2,uniqueid_3,Kenya,2018,Urban,Yes,5,26,Male,Other relative,Single/Never Married,Vocational/Specialised training,Self employed,Yes
3,uniqueid_4,Kenya,2018,Rural,Yes,5,34,Female,Head of Household,Married/Living together,Primary education,Formally employed Private,No
4,uniqueid_5,Kenya,2018,Urban,No,8,26,Male,Child,Single/Never Married,Primary education,Informally employed,No

In [12]:
train_data.dtypes

uniqueid                  object
country                   object
year                       int64
location_type             object
cellphone_access          object
household_size             int64
age_of_respondent          int64
gender_of_respondent      object
relationship_with_head    object
marital_status            object
education_level           object
job_type                  object
bank_account              object
dtype: object

In [13]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

X = train_data.iloc[:,:-1].values
y = train_data.iloc[:, -1].values

In [14]:
X #1,2,8,9,10,11

array([['uniqueid_1', 'Kenya', 2018, ..., 'Married/Living together',
        'Secondary education', 'Self employed'],
       ['uniqueid_2', 'Kenya', 2018, ..., 'Widowed',
        'No formal education', 'Government Dependent'],
       ['uniqueid_3', 'Kenya', 2018, ..., 'Single/Never Married',
        'Vocational/Specialised training', 'Self employed'],
       ...,
       ['uniqueid_2115', 'Uganda', 2018, ..., 'Widowed',
        'Primary education', 'Other Income'],
       ['uniqueid_2116', 'Uganda', 2018, ..., 'Divorced/Seperated',
        'Secondary education', 'Self employed'],
       ['uniqueid_2117', 'Uganda', 2018, ..., 'Single/Never Married',
        'Secondary education', 'No Income']], dtype=object)

In [15]:
X.shape

(23524, 12)

In [16]:
labelencoder_X1 = LabelEncoder()
X[:, 1] = labelencoder_X1.fit_transform(X[:, 1])
labelencoder_X2 = LabelEncoder()
X[:, 2] = labelencoder_X2.fit_transform(X[:, 2])
labelencoder_X3 = LabelEncoder()
X[:, 3] = labelencoder_X3.fit_transform(X[:, 3])
labelencoder_X4 = LabelEncoder()
X[:, 4] = labelencoder_X4.fit_transform(X[:, 4])
labelencoder_X7 = LabelEncoder()
X[:, 7] = labelencoder_X7.fit_transform(X[:, 7])
labelencoder_X8 = LabelEncoder()
X[:, 8] = labelencoder_X8.fit_transform(X[:, 8])
labelencoder_X9 = LabelEncoder()
X[:, 9] = labelencoder_X9.fit_transform(X[:, 9])
labelencoder_X10 = LabelEncoder()
X[:, 10] = labelencoder_X10.fit_transform(X[:, 10])
labelencoder_X11 = LabelEncoder()
X[:, 11] = labelencoder_X11.fit_transform(X[:, 11])
labelencoder_y = LabelEncoder()
y = labelencoder_y.fit_transform(y)

In [17]:
X = X[:,1:]

In [18]:
from sklearn.preprocessing import OneHotEncoder
# One Hot encoding-->>
onehotencoder1 = OneHotEncoder(categorical_features = [0,1,7,8,9,10])
X = onehotencoder1.fit_transform(X).toarray()

/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/_encoders.py:451: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. You can use the ColumnTransformer instead.
  "use the ColumnTransformer instead.", DeprecationWarning)

In [19]:
X.shape

(23524, 39)

In [20]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X = sc.fit_transform(X)

In [21]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(random_state = 42)
classifier.fit(X, y)
'''import keras
from keras.models import Sequential
from keras.layers import Dense,Dropout

# Initialising the ANN
classifier = Sequential()

# Adding the input layer and the first hidden layer
classifier.add(Dense(output_dim = 64, init = 'uniform', activation = 'relu', input_dim = 39))
classifier.add(Dropout(0.1))


# Adding the second hidden layer
classifier.add(Dense(output_dim = 128, activation = 'relu'))

classifier.add(Dropout(0.1))

# Adding the output layer
classifier.add(Dense(output_dim = 1, activation = 'sigmoid'))

# Compiling the ANN
classifier.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

# Fitting the ANN to the Training set
classifier.fit(X_pca, y, batch_size = 8, nb_epoch = 50, validation_split=0.1)

# Part 3 - Making the predictions and evaluating the model

# Predicting the Test set results'''
'''y_pred = classifier.predict(X_test)
y_pred = (y_pred > 0.5)

# Making the Confusion Matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)'''

/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

'y_pred = classifier.predict(X_test)\ny_pred = (y_pred > 0.5)\n\n# Making the Confusion Matrix\nfrom sklearn.metrics import confusion_matrix\ncm = confusion_matrix(y_test, y_pred)'

In [53]:
'''from keras.models import load_model

classifier.save('Classifier_model.h5')  # creates a HDF5 file 'my_model.h5'
del model  # deletes the existing model

# returns a compiled model
# identical to the previous one
classifier = load_model('Classifier_model.h5')'''

"from keras.models import load_model\n\nclassifier.save('Classifier_model.h5')  # creates a HDF5 file 'my_model.h5'\ndel model  # deletes the existing model\n\n# returns a compiled model\n# identical to the previous one\nclassifier = load_model('Classifier_model.h5')"

In [54]:
'''model_json = classifier.to_json()
with open("model.json", "w") as json_file:
    json_file.write(model_json)
# serialize weights to HDF5
classifier.save_weights("model.h5")
print("Saved model to disk")

# load json and create model
json_file = open('model.json', 'r')
loaded_model_json = json_file.read()
json_file.close()
loaded_model = model_from_json(loaded_model_json)
# load weights into new model
loaded_model.load_weights("model.h5")
print("Loaded model from disk")
 
# evaluate loaded model on test data
loaded_model.compile(loss='binary_crossentropy', optimizer='rmsprop', metrics=['accuracy'])
score = loaded_model.evaluate(X, Y, verbose=0)
print("%s: %.2f%%" % (loaded_model.metrics_names[1], score[1]*100))'''

'model_json = classifier.to_json()\nwith open("model.json", "w") as json_file:\n    json_file.write(model_json)\n# serialize weights to HDF5\nclassifier.save_weights("model.h5")\nprint("Saved model to disk")\n\n# load json and create model\njson_file = open(\'model.json\', \'r\')\nloaded_model_json = json_file.read()\njson_file.close()\nloaded_model = model_from_json(loaded_model_json)\n# load weights into new model\nloaded_model.load_weights("model.h5")\nprint("Loaded model from disk")\n \n# evaluate loaded model on test data\nloaded_model.compile(loss=\'binary_crossentropy\', optimizer=\'rmsprop\', metrics=[\'accuracy\'])\nscore = loaded_model.evaluate(X, Y, verbose=0)\nprint("%s: %.2f%%" % (loaded_model.metrics_names[1], score[1]*100))'

In [55]:
'''# serialize model to YAML
model_yaml = classifier.to_yaml()
with open("model.yaml", "w") as yaml_file:
    yaml_file.write(model_yaml)
# serialize weights to HDF5
classifier.save_weights("model.h5")
print("Saved model to disk")
 
# later...
 
# load YAML and create model
yaml_file = open('model.yaml', 'r')
loaded_model_yaml = yaml_file.read()
yaml_file.close()
loaded_model = model_from_yaml(loaded_model_yaml)
# load weights into new model
loaded_model.load_weights("model.h5")
print("Loaded model from disk")
 
# evaluate loaded model on test data
loaded_model.compile(loss='binary_crossentropy', optimizer='rmsprop', metrics=['accuracy'])
score = loaded_model.evaluate(X, Y, verbose=0)
print("%s: %.2f%%" % (loaded_model.metrics_names[1], score[1]*100))'''

'# serialize model to YAML\nmodel_yaml = classifier.to_yaml()\nwith open("model.yaml", "w") as yaml_file:\n    yaml_file.write(model_yaml)\n# serialize weights to HDF5\nclassifier.save_weights("model.h5")\nprint("Saved model to disk")\n \n# later...\n \n# load YAML and create model\nyaml_file = open(\'model.yaml\', \'r\')\nloaded_model_yaml = yaml_file.read()\nyaml_file.close()\nloaded_model = model_from_yaml(loaded_model_yaml)\n# load weights into new model\nloaded_model.load_weights("model.h5")\nprint("Loaded model from disk")\n \n# evaluate loaded model on test data\nloaded_model.compile(loss=\'binary_crossentropy\', optimizer=\'rmsprop\', metrics=[\'accuracy\'])\nscore = loaded_model.evaluate(X, Y, verbose=0)\nprint("%s: %.2f%%" % (loaded_model.metrics_names[1], score[1]*100))'

In [22]:
test = pd.read_csv('test.csv')

In [23]:
test_columns = test.columns

In [24]:
test_columns_new = ['uniqueid', 'country', 'year', 'location_type',
       'cellphone_access', 'household_size', 'age_of_respondent',
       'gender_of_respondent', 'relationship_with_head', 'marital_status',
       'education_level', 'job_type']

In [25]:
test = test[test_columns_new]

In [26]:
X_test = test.iloc[:,:].values

In [27]:
X_test[:, 1] = labelencoder_X1.fit_transform(X_test[:, 1])
X_test[:, 2] = labelencoder_X2.fit_transform(X_test[:, 2])
X_test[:, 3] = labelencoder_X3.fit_transform(X_test[:, 3])
X_test[:, 4] = labelencoder_X4.fit_transform(X_test[:, 4])
X_test[:, 7] = labelencoder_X7.fit_transform(X_test[:, 7])
X_test[:, 8] = labelencoder_X8.fit_transform(X_test[:, 8])
X_test[:, 9] = labelencoder_X9.fit_transform(X_test[:, 9])
X_test[:, 10] = labelencoder_X10.fit_transform(X_test[:, 10])
X_test[:, 11] = labelencoder_X11.fit_transform(X_test[:, 11])

In [28]:
test_unique_ids = X_test[:,0]

In [29]:
X_test = X_test[:,1:]

In [30]:
# One Hot encoding-->>
X_test = onehotencoder1.fit_transform(X_test).toarray()

/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/_encoders.py:451: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. You can use the ColumnTransformer instead.
  "use the ColumnTransformer instead.", DeprecationWarning)

In [31]:
X_test = sc.fit_transform(X_test)

In [33]:
predictions = classifier.predict(X_test)
#predictions = classifier.predict_classes(X_test)

In [34]:
final_submission = pd.DataFrame(data={'uniqueid':test_unique_ids.reshape(10086,), 'bank_account':predictions.reshape(10086,)})

In [35]:
i=0
def addxcountry(x):
    global i
    #print(i)
    x = x + ' x ' + str(test.iloc[i,1])
    i+=1
    return x

In [36]:
final_submission['uniqueid'] = final_submission.uniqueid.map(addxcountry)

In [37]:
final_submission.to_csv('submission.csv', index=False)